ansible==9.5.1
ansible-core==2.16.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
dnspython==2.6.1
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
proxmoxer==2.0.1
pycparser==2.22
PyYAML==6.0.1
requests==2.32.2
resolvelib==1.0.1
urllib3==2.2.1
